@page "/admin"
<h3>Admin Panel</h3>
<NavLink class="btn btn-primary" href="@($"/Admin/Movies")" Match="NavLinkMatch.All">
    All Movies
</NavLink>
<NavLink class="btn btn-success" href="@($"/Admin/Cinemas")" Match="NavLinkMatch.All">
    All Cinemas
</NavLink>
@code {
    
}
